h1{
    font-size: 2em;
}
h2{
    font-size: 1.5em;
}
h3{
    font-size: 1em;
}
p{
    font-size: 0.75em;
}
h1{
    color: rgb(147, 40, 71);
}
h3{
    color:rgb(75, 0, 22);
}
h2,h3{
    color:rgb(0, 57, 34);
}
li{
    color: rgb(39, 48, 0);
}
p{
    color:rgb(0, 0, 97)
}

.listasSinFormato{
    color:rgb(19, 0, 5);
}

.listasSinFormato li{
    list-style: none;
}
