/*CSS = cascade style sheet*/
/**/

/*ejemplo*/

/*<h3 style="color:darkmagenta";>, inline en html*/
/*
<style>
h2{
    color:blueviolet;
    size: 2rem;
}
</style>
*/
/* selector{
    clase=valor;
}*/

h1{
    color: darkolivegreen;
}
h1{
    color:darkviolet;
}
/*la hoja de estilos en cascada se aplica linea a linea entonces lo ultimo que aplicamos es lo que va a quedar aparte tengamos en cuenta que la asignacion de estilos "inline" tiene mayor jerarquia que el css aplicado en forma externa.*/
/* selectores */
/*podemos elegir multiples selectores usando ","*/

h2,h3{
    color:blueviolet;
}
li{
    color: rgb(0, 0, 255);
}

/* podemos usar el selector de clasa para seleccionar varias etiquetas y aplicarles los estilos correspondientes, por eso debemos usar, clase como selector donde clase es el nombre de la clase elegida, y luego en el html debemos usar el atributo class="nombreClase"*/

.listasSinFormato{
    color:cornflowerblue;
}

/*podemos usar un selector de combinacion descendente usando espacio como separador*/
.listasSinFormato li{
    list-style: none;
}

