body {
    background-color: black;
    color: antiquewhite;
}
.header-container {
    display: grid;
    grid-template-rows: [row1-start] [row2-start row2-end] [row3-start]
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
li {

}
placeholder {

}